
.custom-toolbar-toggle__icon 
{
	background-color: #E4E4E4; 
}


.custom-toolbar-toggle
{
 	background-color: #E4E4E4; 
}

.custom-toolbar-toggle Label
{
    color: #000000;
	background-color: #E4E4E4;
}

.custom-toolbar-toggle:hover Label
{
    color: #000000;
    background-color: #f4f4f4;
}

.custom-toolbar-toggle:checked Label
{
     color: #ffffff;
	 background-color: #0094ff;
}

.custom-toolbar-toggle:checked:hover Label
{
    color: #ffffff;
    background-color: #0094ff;
}