.entity-hierarchy-search-empty-message__container
{
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.entity-hierarchy-search-empty-message__content Label
{
    white-space: normal;
    -unity-text-align: upper-center;
}
